.vector-icon6 {
  position: absolute;
  height: 2.43%;
  width: 5.26%;
  top: 4.29%;
  right: 11.01%;
  bottom: 93.28%;
  left: 83.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.my-playlist1,
.popular-artists1,
.recommended-for-you1 {
  position: absolute;
  top: 10.91%;
  left: 7.47%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-actor);
  text-align: left;
}
.my-playlist1,
.popular-artists1 {
  top: 51.97%;
  left: 7.68%;
}
.popular-artists1 {
  top: 93.03%;
}
.mask-group-icon18,
.mask-group-icon19 {
  position: absolute;
  height: 115.53%;
  width: 136.48%;
  top: -12.81%;
  right: -21.74%;
  bottom: -2.72%;
  left: -14.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mask-group-icon19 {
  height: 78.06%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 21.94%;
  left: 0;
}
.erika-recinos1,
.monsters-go-bump1 {
  position: absolute;
  top: 206px;
  left: 11.5px;
}
.erika-recinos1 {
  top: 230.39px;
  left: 65.5px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.image-64,
.mask-group-parent6 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 16.95%;
  right: 41.87%;
  bottom: 53.08%;
  left: 7.47%;
}
.image-64 {
  height: 100.43%;
  width: 111.34%;
  top: 0;
  right: -9.44%;
  bottom: -0.43%;
  left: -1.89%;
  background-color: var(--color-darkslateblue);
}
.mask-group15 {
  position: absolute;
  height: 62.65%;
  width: 62.96%;
  top: 15.41%;
  right: 16.69%;
  bottom: 21.94%;
  left: 20.35%;
  filter: blur(60px);
}
.moment-apart4,
.odesza4 {
  position: absolute;
  top: 206px;
  left: 30.5px;
}
.odesza4 {
  top: 230.39px;
  left: 79.5px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-parent7 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 16.95%;
  right: -14.13%;
  bottom: 53.08%;
  left: 63.47%;
}
.new-artists-you-need-to-check4 {
  position: absolute;
  top: 0;
  left: -1.71px;
  background-color: var(--color-indianred);
  width: 152.73px;
  height: 170.91px;
}
.mask-group16 {
  position: absolute;
  height: 69.43%;
  width: 79.48%;
  top: 8.63%;
  right: 9.69%;
  bottom: 21.94%;
  left: 10.83%;
  filter: blur(60px);
}
.gryffin2,
.tie-me-down2 {
  position: absolute;
  top: 206px;
  left: 42.08px;
}
.gryffin2 {
  top: 230.39px;
  left: 80.08px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-parent8 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 16.95%;
  right: -70.13%;
  bottom: 53.08%;
  left: 119.47%;
}
.aesthetic-vaporwave-trashh4 {
  position: absolute;
  top: 0;
  left: -5.02px;
  background-color: var(--color-slateblue);
  width: 135.68px;
  height: 174.48px;
}
.mask-group17 {
  position: absolute;
  height: 66.38%;
  width: 66.12%;
  top: 11.69%;
  right: 17.18%;
  bottom: 21.94%;
  left: 16.69%;
  filter: blur(60px);
}
.chaff-dust3,
.hyonna3 {
  position: absolute;
  top: 206px;
  left: 39px;
}
.hyonna3 {
  top: 230.39px;
  left: 79px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-icon23,
.mask-group-parent9 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 16.95%;
  right: -126.13%;
  bottom: 53.08%;
  left: 175.47%;
}
.mask-group-icon23 {
  height: 23.4%;
  top: 104.73%;
  right: 130.37%;
  bottom: -28.13%;
  left: -81.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.covers2 {
  position: absolute;
  top: -7.46px;
  left: 19.84px;
  background-color: var(--color-aquamarine);
  width: 120.98px;
  height: 265.18px;
}
.mask-group18 {
  position: absolute;
  height: 66.22%;
  width: 81.52%;
  top: 9.24%;
  right: 11.09%;
  bottom: 24.54%;
  left: 7.39%;
  filter: blur(60px);
}
.believer5,
.imagine-dragon7 {
  position: absolute;
  top: 206px;
  left: 58.7px;
}
.imagine-dragon7 {
  top: 230.39px;
  left: 60.7px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.image-65,
.mask-group-parent10 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 58%;
  right: 41.65%;
  bottom: 12.02%;
  left: 7.68%;
}
.image-65 {
  height: 100.43%;
  width: 111.34%;
  top: 0;
  right: -9.44%;
  bottom: -0.43%;
  left: -1.89%;
  background-color: var(--color-peru);
}
.mask-group19 {
  position: absolute;
  height: 62.66%;
  width: 62.96%;
  top: 15.4%;
  right: 16.69%;
  bottom: 21.94%;
  left: 20.35%;
  filter: blur(60px);
}
.mask-group-icon25 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 21.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ryan-grigdry4,
.shortwave4 {
  position: absolute;
  top: 205.98px;
  left: 47.5px;
}
.ryan-grigdry4 {
  top: 230.36px;
  left: 67.5px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-parent11,
.mask-group20 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 58.01%;
  right: -14.13%;
  bottom: 12.02%;
  left: 63.47%;
}
.mask-group20 {
  height: 69.44%;
  width: 79.48%;
  top: 8.62%;
  right: 9.69%;
  bottom: 21.94%;
  left: 10.83%;
  filter: blur(60px);
}
.dream-on2,
.roger-terry2 {
  position: absolute;
  top: 205.98px;
  left: 52.08px;
}
.roger-terry2 {
  top: 230.36px;
  left: 70.08px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-parent12 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 58.01%;
  right: -70.13%;
  bottom: 12.02%;
  left: 119.47%;
}
.aesthetic-vaporwave-trashh5 {
  position: absolute;
  top: 0;
  left: -5.02px;
  background-color: var(--color-darkgreen);
  width: 135.68px;
  height: 174.48px;
}
.mask-group21 {
  position: absolute;
  height: 66.39%;
  width: 66.12%;
  top: 11.67%;
  right: 17.18%;
  bottom: 21.94%;
  left: 16.69%;
  filter: blur(60px);
}
.mask-group-icon27 {
  position: absolute;
  height: 78.08%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 21.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagine-dragon8,
.origins2 {
  position: absolute;
  top: 205.95px;
  left: 63px;
}
.imagine-dragon8 {
  top: 230.34px;
  left: 62px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.mask-group-parent13 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 58.01%;
  right: -126.13%;
  bottom: 12.02%;
  left: 175.47%;
}
.home-child,
.home-child1,
.home-child2,
.home-child3,
.home-inner,
.home-item {
  position: absolute;
  top: 804.39px;
  left: 28.8px;
  border-radius: var(--br-5xs);
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.home-child1,
.home-child2,
.home-child3,
.home-inner,
.home-item {
  top: 920.39px;
}
.home-child1,
.home-child2,
.home-child3,
.home-inner {
  top: 804.39px;
  left: 134.9px;
}
.home-child1,
.home-child2,
.home-child3 {
  top: 920.39px;
}
.home-child2,
.home-child3 {
  top: 804.39px;
  left: 241px;
}
.home-child3 {
  top: 920.39px;
}
.cardi-b1,
.dababy1,
.drake1,
.eminem1,
.morgan-wallen1,
.taylor-swift1 {
  position: absolute;
  top: 876.39px;
  left: 54.8px;
  font-size: var(--font-size-xs);
}
.cardi-b1,
.dababy1,
.eminem1,
.morgan-wallen1,
.taylor-swift1 {
  left: 141.4px;
}
.cardi-b1,
.dababy1,
.eminem1,
.morgan-wallen1 {
  left: 262.5px;
}
.dababy1,
.eminem1,
.morgan-wallen1 {
  top: 992.39px;
  left: 49.8px;
}
.dababy1,
.morgan-wallen1 {
  left: 131.4px;
}
.dababy1 {
  left: 261.5px;
}
.mask-group-icon28 {
  position: absolute;
  height: 88.62%;
  width: 17.78%;
  top: 11.38%;
  right: 82.22%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chaff-dust4,
.hyonna4 {
  position: absolute;
  top: 29.79%;
  left: 17.54%;
}
.hyonna4 {
  top: 64.96%;
  left: 22.17%;
  font-size: 10.42px;
  font-family: var(--font-abel);
  color: var(--color-lightskyblue);
}
.component-2-child5,
.next-icon2,
.next-icon3,
.pause-icon1 {
  position: absolute;
  height: 27.7%;
  width: 5.56%;
  top: 41.84%;
  right: 7.5%;
  bottom: 30.46%;
  left: 86.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-2-child5,
.next-icon3,
.pause-icon1 {
  right: 28.33%;
  left: 66.11%;
}
.component-2-child5,
.pause-icon1 {
  height: 31.85%;
  width: 6.39%;
  top: 39.76%;
  right: 17.5%;
  bottom: 28.39%;
  left: 76.11%;
}
.component-2-child5 {
  height: 22.16%;
  width: 4.44%;
  top: 0;
  right: 45%;
  bottom: 77.84%;
  left: 50.56%;
}
.component-21 {
  position: absolute;
  top: 694.66px;
  left: 0;
  width: 375px;
  height: 75.22px;
  font-size: 18.75px;
}
.home-child4,
.home-child5 {
  position: absolute;
  top: 39.61px;
  left: 28px;
  width: 24.02px;
  height: 10.49px;
}
.home-child5 {
  top: 769.37px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 375px;
  height: 42.63px;
}
.home-indicator-dark-15 {
  position: absolute;
  top: 792.98px;
  left: 0;
  width: 375px;
  height: 19.02px;
  overflow: hidden;
}
.mask-group-parent15,
.mask-group-parent16 {
  position: absolute;
  height: 29.97%;
  width: 50.67%;
  top: 16.95%;
  right: -14.13%;
  bottom: 53.08%;
  left: 63.47%;
  cursor: pointer;
}
.mask-group-parent16 {
  top: 58%;
  right: 41.65%;
  bottom: 12.02%;
  left: 7.68%;
}
.component-3-child {
  position: absolute;
  height: 88.62%;
  width: 100%;
  top: 11.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.component-3-inner,
.component-3-item {
  position: absolute;
  height: 5.54%;
  width: 100%;
  top: 8.31%;
  right: 0;
  bottom: 86.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3-inner {
  width: 52.78%;
  right: 47.22%;
}
.home-child9 {
  position: absolute;
  top: 39.61px;
  left: 28px;
  width: 24.02px;
  height: 10.49px;
  cursor: pointer;
}
.home {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-lavender-100);
  font-family: var(--font-aclonica);
}
